* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app-panel {
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #ed552b, #ed552b);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.profile-card {
  text-align: center;
}

.admin-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  margin-bottom: 20px;
}

.admin-info {
  margin-top: 15px;
}

.admin-info p {
  margin: 8px 0;
  font-size: 16px;
  color: #fff;
}

/* Dark overlay effect */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ed552b;
  top: 0;
  left: 0;
}

/* Main Card */
.panel-container {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 500px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px 25px;
  text-align: center;
  color: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  animation: fadeIn 1s ease-in-out;
}

/* Title */
.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Text */
.welcome-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 1.5;
  opacity: 0.9;
}

/* Buttons */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

/* Sign In */
.sign-in {
  text-decoration: none;
  background: #fff;
  color: #ff512f;
}

.sign-in:hover {
  background: #ff512f;
  color: #fff;
  transform: scale(1.05);
}

/* Sign Up */
.sign-up {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.sign-up:hover {
  background: #fff;
  color: #dd2476;
  transform: scale(1.05);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 📱 Responsive */
@media (max-width: 768px) {
  .panel-container {
    padding: 30px 20px;
  }

  .title {
    font-size: 24px;
  }

  .welcome-text {
    font-size: 16px;
  }

  .description {
    font-size: 13px;
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }

  .welcome-text {
    font-size: 14px;
  }
}